In [7]:
import pandas as pd

In [8]:
import pandas as pd
df = pd.read_csv("../data/clean/listings_wide_2025-05-26.csv")
df.columns

In [9]:
df["title_len"] = df["title"].str.len()

In [10]:
df[["title_len","sold_price"]].corr(method="spearman")

            title_len  sold_price
title_len         1.0         NaN
sold_price        NaN         NaN

In [13]:
import pandas as pd

# ── 1) load --------------------------------------------------------------------
csv_path = "../data/clean/listings_wide_2025-05-26.csv"
df = pd.read_csv(csv_path)

In [14]:
# ── 2) basic shape -------------------------------------------------------------
print(f"{df.shape[0]:,} rows  ×  {df.shape[1]} columns")

# ── 3) list every column name --------------------------------------------------
print("\nColumns:\n", "\n ".join(df.columns))

15,000 rows  ×  31 columns

Columns:
 item_id
 title
 condition
 category_id
 sold_dt
 sold_price
 currency
 seller
 feedback
 top_rated
 ship_cost
 qty_listed
 qty_sold
 format
 list_start
 list_end
 snapshot_ts
 group_type
 leaf_cat
 cat_name
 image_url
 thumb_url
 seller_zip
 seller_country
 buy_opt
 origin_dt
 item_dt
 priority_listing
 coupon_flag
 product_epid
 title_len

In [15]:
# ── 4) data-types, null counts -------------------------------------------------
df.info(show_counts=True)

# ── 5) quick numeric summary (add include='all' to see object columns too) -----
df.describe().T                # transpose → one row per column

# ── 6) first few records (wide view) ------------------------------------------
display(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 31 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   item_id           15000 non-null  object
 1   title             15000 non-null  object
 2   condition         15000 non-null  object
 3   category_id       0 non-null      float64
 4   sold_dt           0 non-null      float64
 5   sold_price        0 non-null      float64
 6   currency          0 non-null      float64
 7   seller            15000 non-null  object
 8   feedback          15000 non-null  int64
 9   top_rated         0 non-null      float64
 10  ship_cost         14472 non-null  float64
 11  qty_listed        0 non-null      float64
 12  qty_sold          0 non-null      float64
 13  format            0 non-null      float64
 14  list_start        0 non-null      float64
 15  list_end          0 non-null      float64
 16  snapshot_ts       15000 non-null  object
 17  group_type        7548 non-null   object
 18  leaf_cat          15000 non-null  int64
 19  cat_name          15000 non-null  object
 20  image_url         14997 non-null  object
 21  thumb_url         14997 non-null  object
 22  seller_zip        11813 non-null  object
 23  seller_country    15000 non-null  object
 24  buy_opt           15000 non-null  object
 25  origin_dt         15000 non-null  object
 26  item_dt           15000 non-null  object
 27  priority_listing  15000 non-null  bool
 28  coupon_flag       15000 non-null  bool
 29  product_epid      4859 non-null   float64
 30  title_len         15000 non-null  int64
dtypes: bool(2), float64(12), int64(3), object(14)
memory usage: 3.3+ MB

,item_id,title,condition,category_id,sold_dt,sold_price,currency,seller,feedback,top_rated,...,thumb_url,seller_zip,seller_country,buy_opt,origin_dt,item_dt,priority_listing,coupon_flag,product_epid,title_len
0,v1|235398389941|536188920244,"Apple iPhone 12, 64/128/256GB - Unlocked - Us...",Used,NaN,NaN,NaN,NaN,electronicdea1s,10796,NaN,...,https://i.ebayimg.com/images/g/t4wAAOSwg4hkCgd...,112**,US,FIXED_PRICE,2024-01-22 19:28:46+00:00,2024-01-22 19:28:46+00:00,True,False,1.307368e+10,66
1,v1|226383113188|525573340365,"Apple iPhone 12 Pro, 128/256/512GB - Fully Unl...",Used,NaN,NaN,NaN,NaN,electronicdea1s,10796,NaN,...,https://i.ebayimg.com/images/g/HlMAAOSwjzhkCfs...,112**,US,FIXED_PRICE,2024-10-03 18:34:24+00:00,2024-10-03 18:34:24+00:00,True,False,4.041709e+09,68
2,v1|235791015716|536172745216,"Apple iPhone 13, 128/256/512GB - Unlocked - Us...",Used,NaN,NaN,NaN,NaN,electronicdea1s,10796,NaN,...,https://i.ebayimg.com/images/g/sMQAAOSwcSFkCfC...,112**,US,FIXED_PRICE,2024-10-17 13:26:00+00:00,2024-10-17 13:27:01+00:00,True,False,1.205276e+10,71
3,v1|225970676295|525594915113,"Apple iPhone 12, 64/128/256GB - Unlocked - Us...",Used,NaN,NaN,NaN,NaN,electronicdea1s,10796,NaN,...,https://i.ebayimg.com/images/g/t4wAAOSwg4hkCgd...,112**,US,FIXED_PRICE,2024-01-22 19:19:29+00:00,2024-01-22 19:19:29+00:00,True,False,1.604171e+10,71
4,v1|354393355064|624218404647,Apple iPhone 13 A2482 128GB Network Unlocked V...,Very Good - Refurbished,NaN,NaN,NaN,NaN,directauth,22418,NaN,...,https://i.ebayimg.com/images/g/DDcAAOSwEjhjcrC...,750**,US,FIXED_PRICE,2022-11-14 21:17:57+00:00,2022-11-14 21:17:57+00:00,False,False,1.205276e+10,64